.DS_Store
**/.DS_Store

./oop2025f_113820032_hw

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.cmake

# Binaries
*.out
*.exe
*.dll
*.so
*.a
*.lib

build/

